/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* >>>>>>>>>>   Responsive At 992px  >>>>>>>>>>> */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width:992px) {
    h1 {
        font-size: 30px;
        line-height: 30px;
    }

    .hero-section {
        & .hero__bg {
            &::before {
                /* background: linear-gradient(to top, #ffffff 0 43%, #00000000 61% 100%); */
                background: linear-gradient(to right, #ffffff 0 100%, #00000000 0% 100%);
                opacity: .3;
            }
        }
    }

    .content-video-section {
        .text-video-row {
            flex-direction: column-reverse;
            gap: 16px;
            margin-top: 20px;

            .text-col {
                width: 100%;
            }

            .video-col {
                width: 100%;
            }
        }
    }

    .header-container {
        .logo {
            width: 120px;
        }
    }

    .folivora-info-section {
        & .folivora-info-container {
            .info-boxes {
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                .info-box {
                    width: 100%;
                    min-height: 100%;
                }
            }
        }
    }

    .about-content {
        gap: 14px;
    }

    .info-box {
        img {
            width: 40px;
        }

        h4 {
            font-size: 18px;
            line-height: 16px;
        }

        p {
            font-size: 14px;
            line-height: 18px;
        }
    }

    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    /*       START :: Industry Container     */
    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    .industry-container {
        grid-template-columns: repeat(1, 100%);
        grid-template-areas:
            'headings'
            'image'
            'content' !important;

        .industry-image {
            padding: 9%;
            max-width: 600px;
            margin: 0 auto;
            overflow: hidden;
            transform: scale(1.05);

            &>svg {
                width: 80%;
                height: 80%;

                &.back-shape-svg {
                    top: 5%;
                    left: 1%;
                }

                &.front-shape-svg {
                    bottom: 2%;
                    right: 5%
                }
            }
        }
    }

    .features-boxes {
        grid-template-columns: repeat(2, 1fr);

        .features-box-head {
            gap: 10px;
            text-align: start;
        }
    }

    .folivora-sticky-anim-section {
        position: static;
        box-shadow: none;
        border-radius: 0;
        padding: 60px 0 50px 0;
        margin: 0 !important;

        &:first-child {
            padding-top: 0;
        }
    }

    .research-container {
        h1 {
            margin-bottom: 30px;
        }
    }

    .research-detail {
        flex-direction: column;
        align-items: center;

        .research-content {
            text-align: center;
            gap: 30px;
        }
    }

    .founders-box {
        flex-direction: column;
        gap: 70px;
    }

    .founder-content {
        margin: 0 auto;

        .founder-links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
        }
    }

    .case-study-section>.container:first-child,
    .casestudy-swiper-main {
        display: none;
    }

    .casestudy-resp-section {
        display: block;
    }

    .caseStudy-resp_container {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}