/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* >>>>>>>>>>   Responsive At 420px  >>>>>>>>>>> */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width:420px) {
    .divider-line {
        margin: 50px auto;
    }

    h1 {
        font-size: 20px;
    }

    .hero-content {
        gap: 18px;

        p {
            font-size: 17px;
        }

        h1 {
            font-size: 34px;
            line-height: 39px;

            &>span {
                &::before {
                    bottom: -22px;
                }
            }
        }

        >span {
            line-height: 16px;
            font-size: 12px;
        }
    }

    .hero-section {
        padding: 8vh 0 20vh;
    }

    .sloth-brain-section {
        .slothbrain-intro {
            .play-icon {
                i {
                    font-size: 12px;
                    padding-left: 2px;
                }
            }

            >span {
                font-size: 14px;
                max-width: max-content;
                min-width: max-content;
                display: block
            }
        }
    }

    .industry-container {
        & .industry-content {
            .industry-head {
                flex-direction: column;
            }
        }
    }

    .product-card {
        .icon-box {
            flex-direction: column;
        }
    }

    .icon-box-container {
        & .services-box {
            .icon-title {
                flex-direction: column;
            }
        }
    }

    .services-industry-container {}

    .indus-product-head {
        display: flex;
        flex-direction: column;
        gap: 10px;

        a {
            order: 3;
        }
    }

    .services-list {
        & ul {
            li {
                margin-left: -10px;
            }
        }
    }

    .footer-logo {
        width: 170px
    }
}