@media (max-width:1240px) {

    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    /* ----------Basic Needs------- */
    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    .divider-line {
        margin: 80px auto;
    }

    .btn {
        padding: 8px 28px;
    }

    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    /* --------Header Section------ */
    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    body {
        max-height: 100vh;
        overflow: hidden;
    }

    /* Header Nav */
    .header-section {
        height: 80px;

        .resp-menu-toggle-btn {
            display: block;
        }

        .container {}

        .header-container {
            .contact-btn {
                margin-left: auto;
            }
        }

        .logo {
            width: 140px;

            img {}
        }

        .navbar-container {
            position: fixed;
            top: 80px;
            left: 0;
            width: 100%;
            height: calc(100vh - 80px);
            z-index: 99;
            overflow: auto;
            background: rgba(0, 0, 0, 0.285);
            backdrop-filter: blur(2px);

            nav {
                flex-direction: column;

                .toggle-btn-x {}

                &>ul {
                    width: 300px;
                    background: #fff;
                    padding: 10px 20px;
                    flex-direction: column;
                    height: unset;
                    gap: 0;

                    &>li {
                        flex-direction: column;
                        width: 100%;
                        border-bottom: 1px solid black;

                        &:not(:last-child) {}

                        &.active {
                            &>.submenu-triger {
                                &>a {
                                    color: #14552C;

                                    span {}

                                    i {
                                        transform: rotate(180deg);
                                    }
                                }
                            }

                            &>.submenu {
                                grid-template-rows: 1fr;
                            }
                        }

                        &.lang-selector {
                            .submenu-triger {
                                a {}
                            }

                            img {}
                        }

                        &>.submenu-triger {
                            width: 100%;
                            padding: 0;

                            &>a {
                                padding: 14px 0;
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                span {
                                    font-size: 18px;
                                    line-height: 28px;
                                }

                                i {}
                            }
                        }

                        &:hover {
                            &>.submenu-triger {
                                &>a {
                                    i {}
                                }
                            }

                            &>.submenu {}
                        }

                        &>.submenu {
                            visibility: visible;
                            position: static;
                            opacity: 1;
                            min-width: unset;
                            width: 100%;
                            box-shadow: none;
                            padding: 0;
                            display: grid;
                            grid-template-rows: 0fr;
                            overflow: hidden;

                            &>ul {
                                min-height: 0px;
                                padding-bottom: 14px;

                                li {
                                    &:not(:last-child) {
                                        border-bottom: 1px solid #cecece;
                                    }

                                    a {
                                        padding: 8px 10px;

                                        &:hover {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .toggle-btn {
            input {}
        }
    }

    /* END :: Header */
    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    /* ---------Hero Container----- */
    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    .hero-content {
        gap: 30px;
        margin: 0 auto;
        text-align: center;

        h1 {
            font-size: 68px;
            line-height: 74px;
        }
    }

    /* Sloth Brain Section  */
    .sloth-brain-section {
        margin: 0 auto;
    }
}