/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* >>>>>>>>>>   Responsive At 576px  >>>>>>>>>>> */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width:576px) {
    h1 {
        font-size: 23px;
    }

    h1.title-light {
        font-size: 22px;
        font-weight: 500;
    }

    h2 {
        font-size: 21px;
    }

    h4 {
        font-size: 16px;
    }

    .title-light {
        font-size: 28px;
    }

    .title-tiny {
        font-size: 16px;
    }

    .text-small {
        font-size: 12px;
    }

    .font-medium {
        font-size: 17px;
    }

    .hero-content {
        h1 {
            width: 89%;
            margin: 0 auto;
            font-size: 46px;

            /* line-height: 40px; */
            &>span {
                &::before {
                    bottom: -27px;
                }
            }
        }

        >span {
            line-height: 17px;
            font-size: 10px;
        }
    }

    .sloth-brain-section {
        gap: 20px;
        flex-direction: column;

        .slothbrain-intro {
            .play-icon {
                i {
                    font-size: 12px;
                    padding-left: 2px;
                }
            }

            >span {
                font-size: 14px;
            }
        }
    }

    .folivora-info-section {
        & .folivora-info-container {
            & .titles {
                p {
                    margin: 0;
                }
            }

            .info-boxes {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    .partner-slider-section {
        & .partner-swiper {
            .partner-logo {
                width: 120px;
            }
        }
    }

    .publication-container {
        .public-head {
            padding: 24px 30px;

            &>p {
                margin-top: 10px;
            }
        }
    }

    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    /*     START :: Folivora Footer Container 3 */
    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    .footer-logo {
        width: 190px
    }
}

/* Features Boxes  */
@media (max-width:500px) {
    .features-boxes {
        grid-template-columns: repeat(1, 1fr);
    }

    .case-study-head {
        display: flex;
        flex-direction: column;

        a {
            order: 3;
        }
    }
}