/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* >>>>>>>>>>   Responsive At 768px  >>>>>>>>>>> */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width:768px) {
    p {
        font-size: 14px;
        line-height: 22px;
    }

    h1 {
        font-size: 28px;
    }

    h1.title-light {
        font-size: 22px;
        font-weight: 500;
    }

    h2 {
        font-size: 21px;
    }

    h4 {
        font-size: 16px;
    }

    .title-light {
        font-size: 28px;
    }

    .title-tiny {
        font-size: 10px;
    }

    .text-small {
        font-size: 12px;
    }

    .font-medium {
        font-size: 17px;
    }

    .btn {
        padding: 6px 12px;
        font-size: 14px;
    }

    .divider-line {
        margin: 70px auto;
    }

    /* Hero Content  */
    .hero-section {
        padding: 10vh 0 30vh;
        min-height: unset;
    }

    .hero-content {
        margin: 0 auto;
        text-align: center;
        gap: 16px;

        p {
            margin: 0 auto;
        }

        >h1 {
            font-size: 57px;
            line-height: 64px;

            &>span {
                &::before {
                    bottom: -30px;
                }
            }
        }

        span {
            line-height: 22px;
        }
    }

    .desc-items {
        flex-direction: column;
        gap: 50px;
    }

    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    /*     START :: About Container     */
    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    .about-container {
        flex-direction: column;
        text-align: center;

        .about-content {
            margin: 0 auto;
            width: 100%;
        }

        .about-video {
            width: 100%;
            margin: 0 auto;
        }
    }

    .industry-cards {
        display: flex;
        width: 100%;
        gap: 30px;
        max-width: 100%;
        overflow: auto;
        padding: 10px 4px 30px 4px;

        .card {
            width: 90%;
            margin: 0 auto;
            min-width: 240px;
        }
    }

    .industry-cards-desc-container {
        margin: 20px 0 0;
    }

    .folivora-info-section {
        & .folivora-info-container {
            .info-boxes {
                margin-top: 29px;
            }
        }
    }

    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    /*     START :: Product Container     */
    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    .product-card {
        flex-direction: column;
        text-align: center;

        .icon-box {
            width: 100%;
            margin: 0 auto;
            justify-content: center;
        }

        .product-content {
            width: 100%;
        }
    }

    .icon-box-container {
        flex-direction: column;

        .services-box {
            .icon-title {
                justify-content: center;
            }

            width: 100%;
            margin: 0 auto;
            text-align: center;

            .services-list {
                text-align: start;
            }
        }
    }

    .indus-product-head {
        margin-bottom: 20px;
    }

    .goto-btns {
        .overview-link {
            font-size: 14px;
        }
    }

    .industry-links {
        .solution-link {
            font-size: 14px;
        }
    }

    .goto-btns {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    /* ########################### */
    /* ########################### */
    /* ########################### */
    /* ########################### */
    /* START ::    Services Page   */
    /* ########################### */
    .industry-container {
        .industry-content {
            .industry-list {
                ul {
                    li {
                        font-size: 14px;
                        font-weight: 600;
                    }
                }
            }

            a {
                margin-top: 45px;
                text-align: center;
            }
        }
    }

    .deployment-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .publication-container {
        & .article-cards {
            padding: 0 20px;
            gap: 30px;

            & .article-card {
                padding: 24px;

                .article-btn {
                    flex-direction: column;
                    gap: 10px;
                }
            }
        }
    }

    .folivora-sticky-anim-section {
        ._label {
            font-size: 18px;
            padding: 8px 20px;

            span {
                font-size: 22px;
            }
        }
    }
}