/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* >>>>>>>>>>   Responsive At 992px  >>>>>>>>>>> */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width:992px) {
    h1 {
        font-size: 30px;
    }

    .header-container {
        .logo {
            width: 120px;
        }
    }

    .about-content {
        gap: 14px;
    }

    .info-box {
        img {
            width: 40px;
        }

        h4 {
            font-size: 18px;
            line-height: 16px;
        }

        p {
            font-size: 14px;
            line-height: 18px;
        }
    }

    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    /*       START :: Industry Container     */
    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
}