/* Import Fonts CSS file */
@import url('./fonts.css');
/* Basic Needs  */
@import url('./basic-needs.css');

/* --------------------------- */
/* START :: Header Section 1   */
/* --------------------------- */
.header-section+* {
    position: relative;
    z-index: 2;
}

.header-section {
    height: 112px;
    border-bottom: 2px solid #D49A49;
    box-shadow: 0px 0px 16px 0px #00000040;

    .container {
        height: 100%;
    }

    .header-container {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .logo {
        width: 186px;

        img {
            width: 100%;
        }
    }

    .navbar-container {
        height: 100%;
        display: flex;
        margin-left: auto;
        align-items: center;
        margin-right: 20px;

        nav {
            height: 100%;
            align-items: center;
            display: flex;

            .toggle-btn-x {
                display: none;
            }

            &>ul {
                display: flex;
                padding: 0;
                gap: 30px;
                height: 100%;
                align-items: center;
                display: flex;

                &>li {
                    /*  */
                    /* height: 100%; */
                    align-items: center;
                    display: flex;
                    min-width: max-content;

                    &.lang-selector {
                        .submenu-triger {
                            a {
                                align-items: center;
                            }
                        }

                        img {
                            width: 20px;
                            margin-right: 7px;
                        }
                    }

                    &>.submenu-triger {
                        padding: 14px 0;

                        &>a {
                            display: flex;
                            color: #1E1E1E;
                            cursor: pointer;

                            span {
                                font-family: 'Poppins';
                                font-size: 16px;
                                font-weight: 600;
                                line-height: 24px;
                                letter-spacing: 0.10000000149011612px;
                                text-align: center;
                            }

                            i {
                                width: 28px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }

                    &:hover {
                        &>.submenu-triger {
                            &>a {
                                i {
                                    transform: rotate(180deg);
                                }
                            }
                        }

                        &>.submenu {
                            top: 80px;
                            opacity: 1;
                            visibility: visible;
                            z-index: 3;
                        }
                    }

                    &>.submenu {
                        padding: 8px;
                        border-radius: 4px;
                        color: white;
                        position: absolute;
                        box-shadow: 0 0 3px grey;
                        background: white;
                        top: 120px;
                        min-width: 200px;
                        opacity: 0;
                        visibility: hidden;
                        z-index: 3;

                        &>ul {
                            padding: 0;

                            li {
                                width: 100%;

                                a {
                                    width: 100%;
                                    display: block;
                                    /* background: orange; */
                                    line-height: 30px;
                                    padding: 2px 10px;
                                    border-radius: 4px;
                                    color: black;
                                    font-size: 14px;

                                    &:hover {
                                        background: rgb(23 127 61 / 32%);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .toggle-btn {
        display: none;

        input {
            display: none;
        }
    }
}

/* ------------------------- */
/* END :: Header Section CSS */
/* ------------------------- */
/* ######################### */
/* ######################### */
/* ######################### */
/* ---------------------------- */
/*  Starts :: Hero Container 2  */
/* ---------------------------  */
.hero-section {
    width: 100%;
    min-height: calc(70vh - 140px);
    background-image: url('../media/hero-section-image.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10vh 0 180px;
    position: relative;
    overflow: hidden;
    margin-bottom: -40px;

    &::before {
        content: '';
        width: 110%;
        height: 100px;
        background: #ffffff;
        display: block;
        position: absolute;
        bottom: -10px;
        left: -5%;
        transform: rotate(4deg);
        border-top: 10px solid orange;
    }
}

/* Hero Content  */
.hero-content {
    justify-content: center;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Poppins";

    p {
        font-size: 16px;
        font-weight: 700;
    }

    h1 {
        font-size: 84px;
        font-weight: 700;
        letter-spacing: -0.04em;
        line-height: 89px;
        position: relative;

        &>span {
            position: relative;
            display: inline-block;

            &::before {
                content: "";
                background-image: url("../media/images/Decore.png");
                background-position: cover;
                background-size: 100%;
                width: 130%;
                height: 20px;
                display: inline-block;
                position: absolute;
                background-repeat: no-repeat;
                bottom: -10px;
            }
        }
    }

    >span {
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
    }
}

/* Sloth Brain Section  */
.sloth-brain-section {
    display: flex;
    gap: 64px;
    align-items: center;
}

.slothbrain-intro {
    display: flex;
    align-items: center;
    gap: 21px;

    a {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: white;
        border: 2px solid var(--primary);

        i {
            color: #14552C;
        }
    }

    span {
        color: #14552C;
    }
}

/* --------------------------- */
/*    END :: Hero Container    */
/* --------------------------- */
/* ######################### */
/* ######################### */
/* ######################### */
/* -------------------------------- */
/*  Starts :: Industry Container 3  */
/* -------------------------------- */
.industry-container {
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
}

.real-state-media-container {
    display: flex;
}

.industry-content {
    max-width: 56%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.industry-list {
    ul {
        display: flex;
        flex-direction: column;
        gap: 10px;

        li {
            display: flex;
            gap: 16px;

            a {
                color: black;
            }
        }
    }
}

.industry-image {
    max-width: 700px;
    width: 100%;
}

/* ------------------------- */
/* END ::  Info Container    */
/* ------------------------- */
/* ######################### */
/* ######################### */
/* ######################### */
/* ----------------------------- */
/*  Starts :: About Container 4  */
/* ---------------------------- */
/* ######################### */
/* ######################### */
/* ######################### */
/* -------------------------------- */
/*  Starts :: Industry Container 3  */
/* -------------------------------- */
.real-state-container {
    align-items: center;
    margin-top: 50px;
    gap: 50px;
}

.real-state-content {
    margin-top: 60px;
    max-width: 56%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* ######################### */
/* ######################### */
/* ######################### */
/* -------------------------------- */
/*  Starts :: Industry Container 3  */
/* -------------------------------- */
/* ------------------------- */
/*  END :: About Container   */
/* ------------------------- */
/* ######################### */
/* ######################### */
/* ######################### */
/* ------------------------------ */
/* START :: Industry  Container 5 */
/* ------------------------------ */
/* --------------------------- */
/* END :: Industry  Container  */
/* --------------------------- */
/* ######################### */
/* ######################### */
/* ######################### */
/* ----------------------------- */
/* START :: Product  Container 6 */
/* ----------------------------- */
/* -------------------------- */
/* END :: Product  Container  */
/* -------------------------- */
/* ######################### */
/* ######################### */
/* ######################### */
/* ----------------------------- */
/* START :: Services Container 7 */
/* ----------------------------- */
/* ----------------------------- */
/* END :: Services  Container    */
/* ----------------------------- */
/* ------------------------------- */
/* START :: Go-to Work  Container  */
/* ------------------------------- */
/* ---------------------------- */
/* END :: Goto Work  Container  */
/* ---------------------------- */
/* ######################### */
/* ######################### */
/* ######################### */
/* -------------------------------- */
/* START :: Form Section Container  */
/* ------------------------------- */
/* -------------------------------- */
/* START :: Form Section Container  */
/* -------------------------------- */
/* ######################### */
/* ######################### */
/* ######################### */
/* ---------------------------------- */
/* START :: Footer Section Container  */
/* ---------------------------------- */